@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --color-background: 40deg 4% 14%;
    --color-text: 46deg 100% 97%;
    --color-text-focus: 38deg 16% 76%;
    --color-accent: 17deg 83% 54%;
    --color-highlight: 34deg 6% 24%;
}

@layer base {
    :root {
        --color-background: var(--color-background);
        --color-text: var(--color-text);
        --color-text-focus: var(--color-text-focus);
        --color-accent: var(--color-accent);
        --color-highlight: var(--color-highlight);
    }
}

body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-text));
    accent-color: hsl(var(--color-accent));
}
